#myTable{
    text-align: left;
    float: left;
}
#CurrentFirstNameTag{
    
    white-space: nowrap;
}
#CurrentLastNameTag{
    
    white-space: nowrap;
}
#CurrentVisitIdTag{
    
    white-space: nowrap;
}
#CurrentPatientIdTag{
    
    white-space: nowrap;
}
